<h3><em>Featured Exercise Movement:</em> <%= @movement.name %></h3>

<li>Workout routines in which performed: <%= @movement.routines.count %></li>
<li>Training guides available for use: <%= @movement.guides.count %></li>

<br>

<%= link_to "View All Training Guides", movement_guides_path(@movement), class: "all-guides", data: {id: @movement.id} %>

<div id="training-guides">
</div>

<br>

<% if current_user && current_user.trainer? %>
  <%= link_to "Create a Training Guide", new_movement_guide_path(@movement) %>
  <br><br>
<% end %>

<%= button_tag class: "js-previous-move btn btn-sm btn-default", data: {id: @movement.id, direction: "previous"} do %>
  <%= content_tag(:span, nil, class: "glyphicon glyphicon-arrow-left") %> <%= content_tag(:span, "Previous Exercise") %>
<% end %>

<%= button_tag class: "js-next-move btn btn-sm btn-default", data: {id: @movement.id, direction: "next"} do %>
  <%= content_tag(:span, "Next Exercise") %> <%= content_tag(:span, nil, class: "glyphicon glyphicon-arrow-right") %>
<% end %>