<h4><em>Featured Exercise Movement:</em> <%= @movement.name %></h4>

<%= link_to "View All Training Guides", movement_guides_path(@movement), class: "all-guides", data: {id: @movement.id} %>

<div id="training-guides">
</div>

<br>

<% if current_user && current_user.trainer? %>
  <%= link_to "Create a Training Guide", new_movement_guide_path(@movement) %>
  <br><br>
<% end %>

<%= button_tag class: "js-previous btn btn-sm btn-default", data: {id: @movement.id} do %>
  <%= content_tag(:span, nil, class: "glyphicon glyphicon-arrow-left") %> <%= content_tag(:span, "Previous Exercise") %>
<% end %>

<%= button_tag class: "js-next btn btn-sm btn-default", data: {id: @movement.id} do %>
  <%= content_tag(:span, "Next Exercise") %> <%= content_tag(:span, nil, class: "glyphicon glyphicon-arrow-right") %>
<% end %>