<h3><em>Featured Exercise Movement</em> ~ <%= @movement.name %></h3>

<li>Workout routines in which performed: <%= @movement.routines.count %></li>
<li>Training guides available for use: <%= @movement.guides.count %></li>

<br>

<%= link_to "View All Training Guides", movement_guides_path(@movement), class: "all-guides", data: {id: @movement.id} %>

<div id="training-guides">
</div>

<br>

<% if current_user.trainer? %>
  <h4>Create a Training Guide</h4>
  <h5><em>Add training tips to properly perform this exercise</em></h5>
  <br>
  <div class="well well-sm col-xs-6">
  	<%= render partial: "guides/form", locals: { movement: @movement, guide: @guide } %>
  </div>
<% end %>

<%= button_tag class: "js-previous-move btn btn-sm btn-default", data: {id: @movement.id, direction: "previous"} do %>
  <%= content_tag(:span, nil, class: "glyphicon glyphicon-arrow-left") %> <%= content_tag(:span, "Previous Exercise") %>
<% end %>

<%= button_tag class: "js-next-move btn btn-sm btn-default", data: {id: @movement.id, direction: "next"} do %>
  <%= content_tag(:span, "Next Exercise") %> <%= content_tag(:span, nil, class: "glyphicon glyphicon-arrow-right") %>
<% end %>