<h3><em>Featured Exercise Movement</em> ~ <%= @movement.name %></h3>

<li>Workout routines in which performed: <%= @movement.routines.count %></li>
<li>Training guides available for use: <%= @movement.guides.count %></li>

<br>

<%= button_tag class: "btn btn-sm btn-default", data: {id: @movement.id, direction: "previous"}, type: "button" do %>
  <%= content_tag(:span, nil, class: "glyphicon glyphicon-arrow-left") %> <%= content_tag(:span, "Previous Exercise") %>
<% end %>

<%= button_tag class: "btn btn-sm btn-default", data: {id: @movement.id, direction: "next"}, type: "button" do %>
  <%= content_tag(:span, "Next Exercise") %> <%= content_tag(:span, nil, class: "glyphicon glyphicon-arrow-right") %>
<% end %>

<br><br>

<%= link_to "View Training Guides", movement_guides_path(@movement), class: "movement-guides", data: {id: @movement.id} unless @movement.guides.empty? %>

<div id="training-guides">
</div>

<br>

<% if policy(@guide).create? %>
  <h4>Create a Training Guide</h4>
  <h5><em>Add training tips to properly perform <%= @movement.name %></em></h5>
  <div class="well well-sm col-xs-6">
    <%= render partial: "guides/form", locals: { movement: @movement, guide: @guide } %>
  </div>
  <div id="display-guide" class="col-xs-6">
  </div>
<% end %>