<h1><%= @movement.name %></h1>

<% if current_user.trainer? %>
  <h3>Add Training Tips</h3>

  <%= form_for([@movement, @tip]) do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <div class="field">
      <%= f.label :proper_form, "Train your clients to use proper form when performing this exercise" %>:
      <%= f.text_area :proper_form, placeholder: "Add training tip to achieve proper form...", class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :breathing_technique, "Train your clients to use proper breathing techniques when performing this exercise" %>:
      <%= f.text_area :breathing_technique, placeholder: "Add training tip to describe effective breathing patterns...", class: "form-control" %>
	</div>
  <% end %>
<% end %>