<div class="target-area-checkboxes col-xs-6">
  <label>Which area(s) of the body will this workout target?</label>
  <br>
  <%= hidden_field_tag "routine[target_ids][]", nil %>
  <% Target.all.each do |target_area| %>
    <%= check_box_tag "routine[target_ids][]", target_area.id, routine.target_ids.include?(target_area.id), id: dom_id(target_area) %>
    <%= label_tag dom_id(target_area), target_area.focus %><br>
  <% end %>
</div>

<div class="training-type-checkboxes col-xs-6">
  <label>Which training type(s) will this workout implement?</label>
  <br>
  <%= hidden_field_tag "routine[training_ids][]", nil %>
  <% Training.all.each do |training_type| %>
    <%= check_box_tag "routine[training_ids][]", training_type.id, routine.training_ids.include?(training_type.id), id: dom_id(training_type) %>
    <%= label_tag dom_id(training_type), training_type.fitness_type %><br>
  <% end %>
</div>