<%= form_for routine do |f| %>
	<div class="field">
		<%= f.label :title %>:
		<%= f.text_field :title, placeholder: "Enter the title of your new workout routine...", class: "form-control" %>
	</div>

	<br>

	<div class="field">
		<%= f.label :difficulty_level, "How would you rate the difficulty level of this workout?" %>:
		<%= f.select :difficulty_level, options_for_select(["Beginner", "Intermediate", "Advanced"], prompt: "Difficulty Level") %>
	</div>

	<br>

	<div class="field">
		<%= f.label :duration, "How long will it take to perform this workout routine?" %>
		<%= f.number_field :duration, min: 1 %> minutes
	</div>

	<br>

	<div class="movement-fields">
		<%= f.fields_for :movements do |m| %>
			<%= m.label :name, "Add an exercise movement to your workout routine" %>:
			<%= m.text_field :name, placeholder: "Enter an exercise...", class: "form-control" %>
			<br>
			<%= m.fields_for :movement_routines do |mr| %>
				<%= mr.label :technique, "Describe your technique for performing this exercise" %>:
				<br>
				<%= mr.text_area :technique %>
				<br>
				<%= mr.label :sets, "Number of Sets" %>:
				<%= mr.number_field :sets %>
				<br>
				<%= mr.label :reps, "Number of Reps" %>:
				<%= mr.number_field :reps %>
			<% end %>
		<% end %>
	</div>

	<br><br>

	<button id="add-movement" class="btn btn-default btn-sm" data-add-type=movement>+ Exercise</button>


	<br><br>


	<div class="equipment-fields">
		<%= f.fields_for :equipment do |e| %>
			<%= e.label :name, "What type of equipment, if any, will you use during this workout?" %>:
			<%= e.text_field :name, placeholder: "Enter a piece of equipment...", class: "form-control" %>
			<br>
			<%= e.fields_for :equipment_routines do |er| %>
				<%= er.label :quantity %>:
				<%= er.number_field :quantity, min: 1 %>
				<br>
				<%= er.label :weight %>:
				<%= er.number_field :weight, min: 1, step: 'any' %> lbs
			<% end %>
		<% end %>
	</div>

	<br><br>


	<button id="add-equipment" class="btn btn-default btn-sm" data-add-type=equipment>+ Equipment</button>

	<br><br>

	<div class="target-area-checkboxes">
	  <%= hidden_field_tag "routine[target_ids][]", nil %>
	  <% Target.all.each do |target_area| %>
	    <%= check_box_tag "routine[target_ids][]", target_area.id, routine.target_ids.include?(target_area.id), id: dom_id(target_area) %>
	    <%= label_tag dom_id(target_area), target_area.focus %><br>
	  <% end %>
	</div>

	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>