<h2>Edit Workout Routine</h2>

<%= form_for @routine do |f| %>
  <%= render partial: "routine_form_fields", locals: {f: f} %>
  <br><br>
  <%= render partial: "form_checkboxes", locals: {routine: @routine} %>
  <br><br>
  <div class="actions">
    <%= f.submit class: "btn btn-default btn-sm" %>
  </div>
<% end %>

<br>

<h4>Required Equipment for <em><%= @routine.title %></em></h4>

<ul class="required-equipment">
  <% if @routine.equipment.empty? %>
    *This workout routine does <strong>not</strong> require any exercise equipment*
  <% else %>
    <% @routine.equipment.each do |equipment_piece| %>
      <li id="er-<%= er_instance(equipment_piece, @routine).id %>-li">
        <span><strong><%= equipment_piece.name %></strong></span>
        <br>
        <div id="edit-er-<%= er_instance(equipment_piece, @routine).id %>-div"></div>
        <%= link_to "/ers/#{er_instance(equipment_piece, @routine).id}/edit", class: "edit-equipment btn btn-default btn-sm",
        data: {er_id: er_instance(equipment_piece, @routine).id} do %>
          <span class="glyphicon glyphicon-edit"></span> <small>Edit Equipment</small>
        <% end %>
        <%= button_to "/ers/#{er_instance(equipment_piece, @routine).id}", class: "btn btn-danger btn-sm", method: :delete,
        form: {style: 'display:inline-block;'}, data: { confirm: "Are you sure you want to remove this piece of equipment?"} do %>
          <span class="glyphicon glyphicon-trash"></span> <small>Remove Equipment</small>
        <% end %>
        <br><br>
      </li>
    <% end %>
  <% end %>
</ul>