<h2>Edit Workout Routine</h2>

<%= form_for @routine, html: {class: "edit-basic-workout-info"} do |f| %>
  <%= validation_errors_for(@routine) %>
  
  <%= render partial: "routine_form_fields", locals: { f: f } %>
  <hr>
  <%= render partial: "form_checkboxes", locals: { routine: @routine } %>
  <br>
  <div class="actions">
    <%= f.submit class: "btn btn-default btn-sm" %>
  </div>
<% end %>

<hr>

<h3>Manage Equipment Required for <em><%= @routine.title %></em></h3>

<ul class="required-equipment">
  <% if !@routine.equipment.empty? %>
    <% @routine.equipment.each do |equipment_piece| %>
      <li id="er-<%= er_instance(equipment_piece, @routine).id %>-li">
        <span><strong><%= equipment_piece.name %></strong></span>
        <br>
        <small id="quantity-<%= er_instance(equipment_piece, @routine).id %>"><strong>Quantity</strong>: <%= er_instance(equipment_piece, @routine).quantity %></small>
        <br>
        <small id="weight-<%= er_instance(equipment_piece, @routine).id %>"><strong>Weight</strong>:
          <% if er_instance(equipment_piece, @routine).weight.nil? %>
            <%= "N/A" %>
          <% else %>
            <%= er_instance(equipment_piece, @routine).weight %> lb(s) each
          <% end %>
        </small>
        <br><br>
        <div id="edit-er-<%= er_instance(equipment_piece, @routine).id %>-div"></div>
        <%= link_to "/ers/#{er_instance(equipment_piece, @routine).id}/edit", class: "edit-er btn btn-default btn-sm",
        data: {id: er_instance(equipment_piece, @routine).id} do %>
          <span class="glyphicon glyphicon-edit"></span> <span>Edit Equipment</span>
        <% end %>
        <%= button_to "/ers/#{er_instance(equipment_piece, @routine).id}", class: "btn btn-danger btn-sm delete-er", method: :delete,
        form: {style: 'display:inline-block;'} do %>
          <span class="glyphicon glyphicon-trash"></span> <span>Remove Equipment</span>
        <% end %>
        <br><br>
      </li>
    <% end %>
  <% end %>
</ul>

<%= render partial: "add_equipment_form", locals: { routine: @routine } %>