<h1>Create a Workout Routine</h1>

<%= render partial: 'form', locals: { routine: @routine } %>

<hr>

<script id="movement-template" type="text/x-handlebars-template">
  <%= render 'movement_fields' %>
</script>

<script id="equipment-template" type="text/x-handlebars-template">
  <%= render 'equipment_fields' %>
</script>

<script id="target-template" type="text/x-handlebars-template">
	<%= render 'target_fields' %>
</script>

<script id="training-template" type="text/x-handlebars-template">
	<%= render 'training_fields' %>
</script>

<script id="routine-template" type="text/x-handlebars-template">
	<h3>{{title}}</h3>
	<p><strong>Difficulty Level</strong>: {{difficulty_level}}</p>
	<p><strong>Duration</strong>: {{duration}} minutes</p>
	<p>
		<strong>Target Areas</strong>: 
		<ul>
			{{#each targets}}
				<li>{{this.focus}}</li>
			{{/each}}
		</ul>
	</p>
	<p>
		<strong>Training Types</strong>: 
		<ul>
			{{#each trainings}}
				<li>{{this.fitness_type}}</li>
			{{/each}}
		</ul>
	</p>
	<a href="/routines/{{id}}">View Full Workout</a>
</script>
