<div id="preview-routine">
</div>

<h1>Create a Workout Routine</h1>

<%= form_for @routine do |f| %>
  <%= render partial: "routine_form_fields", locals: {f: f} %>

  <hr>

  <div class="movement-fields">
  	<%= f.fields_for :movements do |m| %>
  	  <%= m.label :name, "Add an exercise movement to your workout routine" %>:
  	  <%= m.text_field :name, placeholder: "Enter an exercise...", class: "form-control" %>
  	  <br>
  	  <%= m.fields_for :movement_routines do |mr| %>
  	    <%= mr.label :technique, "Describe your technique for performing this exercise" %>:
  	    <br>
  	    <%= mr.text_area :technique %>
  	    <br>
  	    <%= mr.label :sets, "Number of Sets" %>:
  	    <%= mr.number_field :sets %>
  	    <br>
  	    <%= mr.label :reps, "Number of Reps" %>:
  	    <%= mr.number_field :reps %>
  	  <% end %>
  	<% end %>
  </div>

  <br><br>

  <%= button_tag "+ Exercise", class: "btn btn-default btn-sm", id: "add-movement", data: { add_association: 'movements' } %>

  <hr>

  <div class="equipment-fields">
  	<%= f.fields_for :equipment do |e| %>
  	  <%= e.label :name, "What type of equipment, if any, will you use during this workout?" %>:
  	  <%= e.text_field :name, placeholder: "Enter a piece of equipment...", class: "form-control" %>
  	  <br>
  	  <%= e.fields_for :equipment_routines do |er| %>
  	    <%= er.label :quantity %>:
  	    <%= er.number_field :quantity, min: 1 %>
  	    <br>
  	    <%= er.label :weight %>:
  	    <%= er.number_field :weight, min: 1, step: 'any' %> lbs each
  	  <% end %>
  	<% end %>
  </div>

  <br><br>

  <%= button_tag "+ Equipment", class: "btn btn-default btn-sm", id: "add-equipment", data: { add_association: 'equipment' } %>

  <hr>

  <%= render partial: "form_checkboxes", locals: {routine: @routine} %>

  <br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>