<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= @routine.title %><small><em> — a workout designed by <%= @routine.user.name %></em></small>
    </h3>
    <br>
    <p><span class="glyphicon glyphicon-time"></span> <strong>Duration</strong>: <%= @routine.duration %> minutes</p>
    <p><span class="glyphicon glyphicon-signal"></span> <strong>Difficulty Level</strong>: <%= @routine.difficulty_level %></p>
  </div>

  <div class="panel-body" id="workout-routine">
    <% @routine.movements.each do |movement| %>
      <div id="mr-<%= mr_instance(movement, @routine).id %>-div" data-routine-id="<%= @routine.id %>" data-movement-id="<%= movement.id %>">
        <h5>Exercise: <%= link_to movement.name, movement_path(movement), class: "show-exercise", data: {id: movement.id} %></h5>
      
        <button class="js-show-technique btn btn-default btn-sm" data-id="<%= mr_instance(movement, @routine).id %>">Show Technique</button>

        <br><br>

        <div id="display-technique-<%= mr_instance(movement, @routine).id %>"></div>

        <p id="sets-paragraph-<%= mr_instance(movement, @routine).id %>"><strong>Sets</strong>: <%= mr_instance(movement, @routine).sets %></p>

        <p id="reps-paragraph-<%= mr_instance(movement, @routine).id %>"><strong>Reps</strong>: <%= mr_instance(movement, @routine).reps %></p>

        <div id="edit-exercise-<%= movement.id %>-div"></div>

        <%= link_to "/routines/#{@routine.id}/movements/#{movement.id}/edit", class: "edit-exercise btn btn-default btn-sm", data: {movement_id: movement.id } do
          content_tag(:span, nil, class: "glyphicon glyphicon-edit") + content_tag(:small, " Edit Exercise")
        end %>

        <%= button_to "/routines/#{@routine.id}/movements/#{movement.id}", class: "btn btn-danger btn-sm", method: :delete, form: {style: 'display:inline-block;'}, data: { confirm: "Are you sure you want to remove this exercise?"} do %>
          <span class="glyphicon glyphicon-trash"></span> <small>Delete Exercise</small>
        <% end %>

        <br>
        
        <%= content_tag(:hr) unless movement == @routine.movements.last %>
      </div>
    <% end %>
  </div>
</div>

<% if policy(@routine).edit? %>
  <%= link_to "Edit Workout", edit_routine_path(@routine), class: 'edit-workout btn btn-default btn-sm', data: {id: @routine.id} %>
<% end %>