<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= @routine.title %><small><em> — a workout designed by <%= @routine.user.name %></em></small>
      </h3>
      <br>
      <p><span class="glyphicon glyphicon-time"></span> <strong>Duration</strong>: <%= @routine.duration %> minutes</p>
      <p><span class="glyphicon glyphicon-signal"></span> <strong>Difficulty Level</strong>: <%= @routine.difficulty_level %></p>
    </div>

    <div class="panel-body">
      <% @routine.movements.each do |movement| %>
        <div>
          <h5>
            Exercise #<%= movement.position_in_routine(@routine) %>: 
            <%= link_to movement.name, movement_path(movement), class: "show-exercise", data: {id: movement.id} %>
          </h5>
          <p id="move-<%= movement.id %>-sets"><strong>Sets</strong>: <%= movement.movement_routines.find_by(routine: @routine).sets %></p>
          <p id="move-<%= movement.id %>-reps"><strong>Reps</strong>: <%= movement.movement_routines.find_by(routine: @routine).reps %></p>
        </div>

        <button id="show-technique-<%= movement.id %>"class="js-show-technique btn btn-default btn-sm" data-routine-id="<%= @routine.id %>" data-movement-id="<%= movement.id %>">Show Full Technique</button>

        <button class="js-hide-technique btn btn-default btn-sm" data-routine-id="<%= @routine.id %>" data-movement-id="<%= movement.id %>">Hide Technique</button>

        <div id="technique-move-<%= movement.id %>" class="display-technique">
        </div>

        <div id="movement-<%= movement.id %>">
         <br><br>
         <%= link_to "Edit Exercise", "/routines/#{@routine.id}/movements/#{movement.id}/edit", class: "edit-exercise", data: {id: movement.id} %>
          <div id="edit-exercise-<%= movement.id %>-div"></div>
          <%= button_tag "Delete Exercise", class: "btn btn-danger btn-sm delete-exercise", method: "delete", url: "/routines/#{@routine.id}/movements/#{movement.id}" %>
          </div>
        </div>
        <hr>
      <% end %>
      <% if policy(@routine).edit? %>
        <%= link_to "Edit Workout", edit_routine_path(@routine), class: 'edit-workout btn btn-default btn-sm', data: {id: @routine.id} %>
      <% end %>
    </div>
</div>