<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= @routine.title %>
    </h3>
    <small><em>a workout designed by <%= @routine.designer_name %></em></small>
    <br>
    <p><span class="glyphicon glyphicon-time"></span> <strong>Duration</strong>: <%= @routine.duration %> minutes</p>
    <p><span class="glyphicon glyphicon-signal"></span> <strong>Difficulty Level</strong>: <%= @routine.difficulty_level %></p>
    <p><strong>Required Equipment</strong>: <%= display_equipment_for(@routine) %></p>
  </div>

  <div class="panel-body">
    <% @routine.movements.each do |movement| %>
      <div id="mr-<%= mr_instance(movement, @routine).id %>-div">
        <h5>Exercise: <%= link_to movement.name, movement_path(movement) %></h5>
      
        <button class="js-show-technique btn btn-default btn-sm" data-id="<%= mr_instance(movement, @routine).id %>">Show Technique</button>

        <br><br>

        <div id="mr-<%= mr_instance(movement, @routine).id %>-technique-div"></div>

        <p id="mr-<%= mr_instance(movement, @routine).id %>-sets-paragraph"><strong>Sets</strong>: <%= mr_instance(movement, @routine).sets %></p>

        <p id="mr-<%= mr_instance(movement, @routine).id %>-reps-paragraph"><strong>Reps</strong>: <%= mr_instance(movement, @routine).reps %></p>

        <div id="edit-mr-<%= mr_instance(movement, @routine).id %>-div"></div>

        <% if policy(@routine).edit? %>
          <%= link_to "/mrs/#{mr_instance(movement, @routine).id}/edit", class: "edit-mr btn btn-default btn-sm", data: { id: mr_instance(movement, @routine).id }  do
            content_tag(:span, nil, class: "glyphicon glyphicon-edit") + content_tag(:span, " Edit Exercise")
          end %>

          <%= button_to "/mrs/#{mr_instance(movement, @routine).id}", class: "btn btn-danger btn-sm", method: :delete, form: {style: 'display:inline-block;', class: "button_to delete-mr"} do %>
            <span class="glyphicon glyphicon-trash"></span> <span>Delete Exercise</span>
          <% end %>
        <% end %>
        
        <%= content_tag(:hr) unless movement == @routine.movements.last %>
      </div>
    <% end %>
  </div>
</div>

<%= render partial: "add_exercise_form", locals: {routine: @routine} if policy(@routine).edit? %>

<% if policy(@routine).edit? %>
  <%= link_to edit_routine_path(@routine), class: 'btn btn-primary btn-md edit-workout', data: {id: @routine.id} do
    content_tag(:span, nil, class: "glyphicon glyphicon-edit") + content_tag(:span, " Edit Workout")
  end %>
<% end %>

<% if policy(@routine).destroy? %>
  <%= button_to routine_path(@routine), class: "btn btn-danger btn-md delete-workout", method: :delete, form: {style: 'display:inline-block;'} do %>
    <span class="glyphicon glyphicon-trash"></span> <span>Delete Workout</span>
  <% end %>
<% end %>