<tr>
  <td><%= user.id %></td>
  <td><%= link_to user.name, user_path(user) %></td>
  <td>
    <% if user.unassigned? %>
      <%= form_for(user) do |f| %>
        <%= f.select(:role, User.roles.keys.map {|role| [role.titleize, role]}) %>
        <%= f.submit "Revise Role" %>
      <% end %>
    <% else %>
      <%= user.role.capitalize %>
    <% end %>
  </td>
  <td>
    <% if user.client? && user.trainer.nil? %>
      <%= form_for(user) do |f| %>
        <%= f.select(:trainer_id, trainers.map {|trainer| [trainer.name, trainer.id]}, include_blank: "Choose Trainer") %>
        <%= f.submit "Assign to Client", class: "btn btn-default btn-sm" %>
      <% end %>
    <% elsif user.trainer %>
      <%= user.trainer.name %>
    <% else %>
      <%= "N/A" %>
    <% end %>
  </td>
  <td>
    
  </td>
</tr>
