<h3><%= @user.name %>'s Profile</h3>

<p><strong>Role as a Movement Mixer</strong>: <%= @user.role.capitalize %></p>

<p><strong>Fitness Training Match</strong>: <%= display_fitness_match(@user) %></p>

<div id="user-stats">
  <% if @user.client? %>
    <%= render partial: "client_show", locals: {user: @user} %>
  <% elsif @user.trainer? %>
    <%= render partial: "trainer_show", locals: {user: @user} %>
  <% end %>
</div>

<div id="belongs-to-association">
</div>