<h3><%= @user.name %>'s Profile</h3>

<p><em>Role in the Movement Mixer Community</em>: <strong><%= @user.role.capitalize %></strong></p>

<p><strong>Fitness Training Match</strong>: <%= display_fitness_match(@user) %></p>

<div id="user-stats">
  <% if @user.client? %>
    <%= render partial: "client_show", locals: {user: @user} %>
  <% elsif @user.trainer? %>
    <%= render partial: "trainer_show", locals: {user: @user} %>
  <% end %>
</div>

<em><%= link_to "View #{@user.name}'s Workouts", user_path(@user), class: "user-workouts", data: {id: @user.id } %></em>

<br><br>

<div id="user-routines">
</div>

<script id="user-workouts-template" type="text/x-handlebars-template">
	<a href="/routines/{{this.id}}">{{this.title}}</a> |
	<small><strong>Difficulty</strong>: {{difficulty_level}}</small> |
	<small><strong>Duration</strong>: {{duration}} minutes</small>
	<hr>
</script>