<h3><%= @user.name %>'s Profile</h3>

<p><strong>Movement Mixer Role</strong>: <%= @user.role.capitalize %></p>

<p><strong>Fitness Training Match</strong>: <%= display_fitness_match(@user) %></p>

<div id="designer-data">
  <% if @user.client? %>
    <%= render partial: "client_show", locals: {user: @user} %>
  <% elsif @user.trainer? %>
    <%= render partial: "trainer_show", locals: {user: @user} %>
  <% end %>
</div>

<div id="belongs-to-user">
</div>

<br>

<% if policy(@user).edit? %>
  <%= button_to edit_user_path(@user), method: :get, class: "btn btn-default btn-sm", form: {style: 'display:inline-block;'} do %>
    <%= content_tag(:span, nil, class: "glyphicon glyphicon-edit") %> <%= content_tag(:small, "Edit Account") %>
  <% end %>
<% end %>

<% if policy(@user).destroy? && !current_user.admin? %>
  <%= button_to user_path(@user), method: :delete, class: "btn btn-sm btn-default delete-account", form: {style: 'display:inline-block'} do %>
    <%= content_tag(:span, nil, class: "glyphicon glyphicon-trash") %> <%= content_tag(:small, "Delete Account") %>
  <% end %>
<% end %>
<!-- Do not display Delete Account button on the admin's show page since the admin cannot delete her own account -->