<script id="movements-template" type="text/x-handlebars-template">
  <%= render 'routines/movement_fields' %>
</script>

<script id="equipment-template" type="text/x-handlebars-template">
  <%= render 'routines/equipment_fields' %>
</script>

<script id="routine-template" type="text/x-handlebars-template">
  <p>Preview of <em><a href="/routines/{{id}}">{{title}}</a></em>:</p>
  <small>
    <strong>Difficulty Level</strong>: {{difficulty_level}}
    <br>
    <strong>Duration</strong>: {{duration}} minutes
    <br>
    <strong>Equipment Required?</strong>
    {{#if equipment.length}}
      Yes
    {{else}}
      No
    {{/if}}
    <br>
    <strong>Target Areas</strong>:
    <ul>
      {{#each targets}}
        <li>{{focus}}</li>
      {{/each}}
    </ul>
    <strong>Training Types</strong>:
    <ul>
      {{#each trainings}}
        <li>{{fitness_type}}</li>
      {{/each}}
    </ul>
  </small>
  <hr>
</script>

<script id="technique-template" type="text/x-handlebars-template">
  <p><strong>Technique for Performing {{movement.name}} in <em>{{routine.title}}</em></strong>:</p>
  <p>{{technique}}</p>
  <button class="js-hide-technique btn btn-default btn-sm" data-hide-id="{{id}}">Hide Technique</button>
</script>
<!-- Inside <script> below is the Handlebars template for adding a new movement to a routine on the routine show page -->
<script id="mr-template" type="text/x-handlebars-template">
  <hr>
  <div id="mr-{{id}}-div">
    <h5>Exercise: <a class="show-exercise" href="movements/{{movement.id}}">{{movement.name}}</a></h5>
    <button class="js-show-technique btn btn-default btn-sm" data-id={{id}}>Show Technique</button>
    <br><br>
    <div id="technique-div-{{id}}"></div>
    <p id="sets-paragraph-{{id}}"><strong>Sets</strong>: {{sets}}</p>
    <p id="reps-paragraph-{{id}}"><strong>Reps</strong>: {{reps}}</p>
    <div id="edit-mr-{{id}}-div"></div>
    <a class="edit-exercise btn btn-default btn-sm" href="/mrs/{{id}}/edit">
      <span class="glyphicon glyphicon-edit"></span> <small>Edit Exercise</small>
    </a>
    <form style="display:inline-block;" class="button_to" method="post" action="/mrs/{{id}}">
      <input type="hidden" name="_method" value="delete">
      <button class="btn btn-danger btn-sm" data-confirm="Are you sure you want to remove this exercise?" type="submit">
        <span class="glyphicon glyphicon-trash"></span> <small>Delete Exercise</small>
      </button>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    </form>
    <br>
  </div>
</script>

<!-- User clicks "View All Workouts" link in navbar, and I use the Handlebars template below 
when I make my AJAX GET request to "/routines" using fetch() in the function Routine.handleWorkoutsIndex,
which is defined in routines.js file -->

<script id="list-workout-template" type="text/x-handlebars-template">
  <span><a href="/routines/{{id}}">{{title}}</a></span>
  <br>
  <small>~ designed by {{user.name}} ~</small>
  <br>
  <small><strong>Difficulty Level</strong>: {{difficulty_level}}</small>
  <br>
  <small><strong>Duration</strong>: {{duration}} minutes</small>
  <hr>
</script>

<script id="list-exercise-template" type="text/x-handlebars-template">
  <h5><a href="/movements/{{id}}">{{name}}</a></h5>
  <small>Workouts in which performed: {{routines.length}}</small>
  <br>
  <small>Training guides available for use: {{guides.length}}</small>
  <hr>
</script>

<script id="show-exercise-template" type="text/x-handlebars-template">
  <h3><em>Featured Exercise Movement</em> ~ {{name}}</h3>
  <li>
    Workout routines in which performed: {{routines.length}}
  </li>
  <li>
    Training guides available for use: {{guides.length}}
  </li>
  <br>
  <button class="js-previous-move btn btn-sm btn-default" data-id="{{id}}" data-direction="previous">
    <span class="glyphicon glyphicon-arrow-left"></span> <span>Previous Exercise</span>
  </button>
  <button class="js-next-move btn btn-default btn-sm" data-id="{{id}}" data-direction="next">
    <span>Next Exercise</span> <span class="glyphicon glyphicon-arrow-right"></span>
  </button>
  <br><br>
  <a class="all-guides" href="movements/{{id}}/guides" data-id="{{id}}">View All Training Guides</a>
  <div id="training-guides"></div>
  <br>
  <% if current_user && current_user.trainer? %>
    <h4>Create a Training Guide</h4>
    <h5><em>Add training tips to properly perform {{name}}</em></h5>
    <div class="well well-sm col-xs-6">
      <form class="new_guide" id="new_guide" action="/movements/{{id}}/guides" accept-charset="UTF-8" method="post">
        <div id="guide-alert-messages">
        </div>
        <input name="utf8" type="hidden" value="✓">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input value="2" type="hidden" name="guide[user_id]" id="guide_user_id">
        <div class="field">
          <label for="guide_proper_form">Train your clients to use proper form when performing this exercise</label>:
          <textarea placeholder="Add training tip to achieve proper form..." class="form-control" name="guide[proper_form]" id="guide_proper_form"></textarea>
        </div>
        <br>
        <div class="field">
          <label for="guide_breathing_technique">Train your clients to use proper breathing techniques</label>:
          <textarea placeholder="Add training tip to implement effective breathing patterns..." class="form-control" name="guide[breathing_technique]" id="guide_breathing_technique"></textarea>
        </div>
        <br>
        <div class="field">
          <label for="guide_modification">How can you modify this exercise?</label>
          <textarea placeholder="Add a modification..." class="form-control" name="guide[modification]" id="guide_modification"></textarea>
        </div>
        <br>
        <div class="field">
          <label for="guide_challenge">How can you make this exercise more challenging?</label>
          <textarea placeholder="Add a challenge..." class="form-control" name="guide[challenge]" id="guide_challenge"></textarea>
        </div>
        <br>
        <div class="actions">
          <input type="submit" name="commit" value="Publish Training Guide" class="btn btn-default btn-sm">
        </div>
      </form>
    </div>
    <div id="display-guide" class="col-xs-6">
    </div>
  <% end %>
</script>

<!-- The Handlebars template found inside the <script> tag below is used when a trainer creates a series of training tips for an exercise movement on the movement show page -->

<script id="guide-template" type="text/x-handlebars-template">
  <div class="well well-lg">
    <h4>Training Guide for {{movement.name}}</h4>
    <p><em>~A series of training tips from professional trainer {{user.name}}~</em></p>
    <br>
    <span><strong>Use proper form</strong>:</span>
    <p>{{proper_form}}</p>
    <br>
    <span><strong>Practice effective breathing patterns</strong>:</span>
    <p>{{breathing_technique}}</p>
    <br>
    <span><strong>Feeling overexerted? Modify the movement</strong>:</span>
    <p>{{modification}}</p>
    <br>
    <span><strong>Feeling energetic? Take things up a notch with this challenge</strong>:</span>
    <p>{{challenge}}</p>
    <% if current_user && current_user.trainer? %>
      <a href="/movements/{{movement.id}}/guides/{{id}}/edit">Revise Guide</a>
    <% end %>
  </div>
</script>

<script id="edit-movement-routine-template" type="text/x-handlebars-template">
  <form class="edit_routine edit-mr edit-mr-{{id}}" id="edit_routine_{{routine.id}}" action="/mrs/{{id}}" accept-charset="UTF-8" method="post">
    <h4><em>Editing {{movement.name}}</em></h4>
    <input name="utf8" type="hidden" value="✓">
    <input type="hidden" name="_method" value="patch">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div id="technique-div">
      <label for="routine_movements_attributes_{{id}}_movement_routines_technique">Describe your technique for performing this exercise</label>:
      <br>
      <textarea name="routine[movements_attributes][{{id}}][movement_routines][technique]" id="routine_movements_attributes_{{id}}_movement_routines_technique">{{technique}}</textarea>
    </div>
    <br>
    <div id="sets-div">
      <label for="routine_movements_attributes_{{id}}_movement_routines_sets">Number of Sets</label>:
      <input type="number" name="routine[movements_attributes][{{id}}][movement_routines][sets]" id="routine_movements_attributes_{{id}}_movement_routines_sets" value="{{sets}}">
    </div>
    <br>
    <div id="reps-div">
      <label for="routine_movements_attributes_{{id}}_movement_routines_reps">Number of Reps</label>:
      <input type="number" name="routine[movements_attributes][{{id}}][movement_routines][reps]" id="routine_movements_attributes_{{id}}_movement_routines_reps" value="{{reps}}">
    </div>
    <div class="actions">
      <input type="submit" name="commit" value="Update Exercise" data-disable-with="Update Exercise" class="btn btn-default btn-sm">
      <input type="button" class="btn btn-default btn-sm cancel-edit" data-mr-id={{id}} data-movement-id={{movement.id}} value="X">
    </div>
  </form>
</script>

<script id="edit-equipment-routine-template" type="text/x-handlebars-template">
  <form class="edit_routine edit-er edit-er-{{id}}" id="edit_routine_{{routine.id}}" action="/ers/{{id}}" accept-charset="UTF-8" method="post">
    <h4><em>Editing Specifications for {{equipment.name}}</em></h4>
    <input name="utf8" type="hidden" value="✓">
    <input type="hidden" name="_method" value="patch">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div id="quantity-div">
      <label for="routine_equipment_attributes_{{id}}_equipment_routines_quantity">Required Quantity</label>:
      <input type="number" name="routine[equipment_attributes][{{id}}][equipment_routines][quantity]" id="routine_equipment_attributes_{{id}}_equipment_routines_quantity" value="{{quantity}}">
    </div>
    <br>
    <div id="weight-div">
      <label for="routine_equipment_attributes_{{id}}_equipment_routines_weight">Required Weight</label>:
      <input type="number" name="routine[equipment_attributes][{{id}}][equipment_routines][weight]" id="routine_equipment_attributes_{{id}}_equipment_routines_weight" value="{{weight}}"> lbs each
    </div>
    <br>
    <div class="actions">
      <input type="submit" name="commit" value="Update Equipment" data-disable-with="Update Equipment" class="btn btn-default btn-sm">
      <input type="button" class="btn btn-default btn-sm cancel-er-edit" data-er-id={{id}} data-equipment-id={{equipment.id}} value="X">
    </div>
  </form>
</script>

<script id="er-template" type="text/x-handlebars-template">
  <li id="er-{{id}}-li">
    <span><strong>{{equipment.name}}</strong></span>
    <br>
    <small id="quantity-{{id}}"><strong>Quantity</strong>: {{quantity}}</small>
    <br>
    <small id="weight-{{id}}"><strong>Weight</strong>: {{weight}} lbs each</small>
    <br><br>
    <div id="edit-er-{{id}}-div"></div>
    <a href="/ers/{{id}}/edit" class="edit-equipment btn btn-default btn-sm" data-er-id={{id}}>
      <span class="glyphicon glyphicon-edit"></span> <small>Edit Equipment</small>
    </a>
    <form style="display:inline-block;" class="button_to" method="post" action="/ers/{{id}}">
      <input type="hidden" name="_method" value="delete">
      <button class="btn btn-danger btn-sm" data-confirm="Are you sure you want to remove this piece of equipment?" type="submit">
        <span class="glyphicon glyphicon-trash"></span> <small>Remove Equipment</small>
      </button>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    </form>
    <br><br>
  </li>
</script>

<script id="target-template" type="text/x-handlebars-template">
  <li id="target-{{id}}">
    <h4>{{focus}}</h4>
    <form class="button_to delete-target-area" method="post" action="/targets/{{id}}">
      <input type="hidden" name="_method" value="delete">
      <button class="btn btn-danger btn-sm" data-confirm="Are you sure you want to delete this target area?" type="submit">
        <span class="glyphicon glyphicon-trash"></span> <small>Delete {{focus}}</small>
      </button>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    </form>
  </li>
</script>

<script id="training-template" type="text/x-handlebars-template">
  <li id="training-{{id}}">
    <h4>{{fitness_type}}</h4>
    <form class="button_to delete-training-type" method="post" action="/trainings/{{id}}">
      <input type="hidden" name="_method" value="delete">
      <button class="btn btn-danger btn-sm" data-confirm="Are you sure you want to delete this training type?" type="submit">
        <span class="glyphicon glyphicon-trash"></span> <small>Delete {{fitness_type}}</small>
      </button>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    </form>
  </li>
</script>